button {
    font-size: 1rem;
    padding: .4rem 1rem;
    border: 2px solid;
    border-radius: 5px;
    color: royalblue;
    outline-color: royalblue;
    background-color: whitesmoke;

    &:hover {
        color: whitesmoke;
        background-color: royalblue;
        cursor: pointer;
    }

}