.chat {
    background-image: url("../../public/images/chat-bg.png");
    background-color: rgba(115, 169, 221, 0.39);
    width: 100%;
    height: calc(100vh - 67.84px - 51.85px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 5px;
        background-color: white;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: royalblue;
    }

    .messages {
        display: grid;
        gap: .5rem;
        max-width: 800px;
        padding: 1rem;
        margin: 0 auto;

        .message {
            font-size: 1.2rem;
            text-transform: capitalize;
            width: fit-content;
            padding: .15rem .6rem;
            border-radius: 5px;
            
            &.received {
                color: whitesmoke;
                background-color: royalblue;
            }

            &.send {
                justify-self: end;
                color: royalblue;
                background-color: white;
            }
        }
    }
}