header {
    color: whitesmoke;
    background-color: royalblue;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 800px;
        padding: 1rem 1.5rem;
        margin: 0 auto;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    button {
        font-size: 1rem;
        padding: .4rem 1rem;
        border: 2px solid;
        border-radius: 5px;
        color: royalblue;
        background-color: whitesmoke;

        &:hover {
            color: whitesmoke;
            background-color: royalblue;
            cursor: pointer;
        }
    }
}

